<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div>
        <h1 style="text-decoration: underline;">Submitted Info</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{yourLocation}}</td>
            </tr>
            <tr>
                <td>Favorite Language:</td>
                <td>{{favoriteLanguage}}</td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>{{comments}}</td>
            </tr>
        </table>
    </div>
</body>
</html>